.dialogs {
    display: flex;
    position: relative;

}

.mainContent {
    width: 920px;
    position: relative;
    background-color: white;
}

.sendMessage {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 236, 236);

    /* This bit draws the box around it */

    /* I've used padding so you can see the edges of the elements. */
    padding: 1px;
}

.sendMessage input {

    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
    width: 90vh;
    height: 3rem;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: black;
    font-size: 13px;
    background-color: rgb(236, 236, 236);
}

.sendMessage input:focus {
    outline: none;
}

.sendMessage :focus-within {
    outline: 1px solid
}

.btn {
    /* Just a little styling to make it pretty */
    border: 1px solid;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0.409);
}

.icon {
    font-size: 1.7rem
}

.addedContent {
    width: 500px;
    height: 100vh;
}

.dialogsItems {
    padding: 10px;
    text-decoration: none;

}


.item {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.active {
    color: green;
    text-decoration: none;
}

.image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.massage {
    color: rgb(0, 0, 0);
}

.massages {
    display:inline-block;
    width:100%;
}

.messagesSection {
    width: 100%;
    height: 92%;
    position: relative;
    border: 4px black;
    border-radius: 10%;
}

.mymessageContainer {
    width:100%;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.mymessage {
    margin: 5px 50px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgba(98, 255, 255, 0.465);
    width: fit-content;
    max-width: 40rem;
    word-wrap: break-word;
}

.alienmessageContainer {
    width:100%;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.alienmessage {
    margin: 5px 50px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgba(171, 171, 171, 0.465);
    width: fit-content;
    max-width: 40rem;
    word-wrap: break-word;
}