.descriptionBlock {
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

.descriptionBlock img {
  float: left;
  width: 140px; /* задайте ширину для изображения */
  height: auto; /* автоматически вычислить высоту */
  margin-right: 20px; /* задать отступ справа для выравнивания */
}

.info {
  margin-left: 220px; /* задать отступ слева для выравнивания */
}