/* NX = not expanded */
.nav {
	background-color: rgb(32, 32, 32);
	padding: 20px;
}

.navbar {
	width: 500px
}

.btn {
	padding: 0;
	border: none;
	background: none;
}

.sideNavContainer {
	background-color: var(--dark);
	width: 300px;
	height: 100vh;
	position: relative;
	color: var(--light);
	grid-area: n;
	transition: 0.4s;
}

.sideNavContainerNX {
	width: 85px;
}

.navUpper,
.navHeading,
.navMenu,
.menuItem,
.navFooter {
	/* border: 2px solid white; */
	display: grid;
}

.navHeading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 75px;
}

.navBrand {
	display: flex;
	color: rgb(45, 45, 45);
}

.navBrand img {
	width: 40px;
	padding: 0 10px;
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: rgb(45, 45, 45);
	border-radius: 15px;
	height: 5px;
	width: 35px;

	transition: 0.4s;
}

.hamburger:hover span {
	border: solid 2px rgb(45, 45, 45);
}

.hamburgerIn:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
}

.hamburgerIn:hover span:nth-child(2) {
	width: 40px;
}

.hamburgerIn:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburgerOut {
	margin-left: 24px;
}

.hamburgerOut:hover span:nth-child(1) {
	width: 25px;
	transform: translate(14px, 4px) rotate(-155deg);
}

.hamburgerOut:hover span:nth-child(2) {
	width: 40px;
}

.hamburgerOut:hover span:nth-child(3) {
	width: 25px;
	transform: translate(14px, -4px) rotate(155deg);
}

.navMenu {
	grid-template-rows: repeat(7, 1fr);
	margin-top: 50px;
}

.menuItem {
	height: 57px;
	display: flex;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 20px;
	
}

.menuItemNX {
	margin: auto;
}

.menuItem:hover {
	border: solid 2px var(--primary);
}

.menuItem img {
	width: 30px;
	padding: 0 20px;
}

.navFooter {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
}

.navDetails {
	display: flex;
}

.navDetails > img {
	width: 100px;
	padding: 0 20px;
}

.navFooterUserName {
	font-size: 18px;
	font-weight: 900;
}

.navFooterUserPosition {
	margin-top: -15px;

}

.logoutIcon {
	border: none;
	background-color: rgb(45, 45, 45);
	
}