/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
	padding: 0;
}

body {
	font-family: montserrat, arial, verdana;
}

.checks {
	margin-left: 0%;
}

.signIn {
	display: block;
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
	text-decoration: none;
}


.react-select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	display: block;
	margin: auto;
	padding: 15px;
	border: 0px;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #ffffff;
	background-color: rgb(236, 236, 236);
	color: #2C3E50;
  }

.react-select:not([multiple]) {
	padding-right: 1.2em;
	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) ;
	background-size: 1em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
  }


  
  /* скроет иконку стрелки в IE */
.react-select::-ms-expand {
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

*::placeholder {
    color: #2C3E50;
}



/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform .fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin-top: 10rem;
	margin: 0 10%;
	
	

	/*stacking fieldsets above each other*/
	position: relative;
}

.signUp {
	color: white
 }


/*Hide all except first fieldset*/
#msform .fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input,
#msform textarea {
	padding: 15px;
	border: 0px;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: black;
	font-size: 13px;
	background-color: rgb(236, 236, 236);
}

/*buttons*/
#msform .action_button {
	width: 100px;
	text-transform: uppercase;
	background: white;
	font-weight: bold;
	color: #2C3E50;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
	text-decoration: none;
	font-size: 14px;
	box-shadow: 0 0 0 0 white, 0 0 0 2px orange;
	
}


#msform .action_button:hover,
#msform .action_button:focus {
	
	background-color: rgb(236, 236, 236);
}

.backnext {
	display: block;
	width: 100%;
}

.back {
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
	text-decoration: none;
}

/*headings*/
.fs_title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs_subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: orange;
	color: black;
}

.text_button {
	font-family: montserrat;
	background: none!important;
	border: none;
	padding: 0!important;
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
	text-decoration: none;
	cursor: pointer;
}