.app-wrapper {
  display: grid;
  width: 1200px;
  grid-template-areas:
    "n c"
  ;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  margin: 0;
}

.app-wrapper-content {
  grid-area: c;
  height: 100vh;
  width: 920px;
  
}

